/* background-image を少し暗くしたいときは data-state="dimbg" をつける */
.dimbg .slide-background {
  filter: brightness(.8);
}

/* iframeで dart-pad を差し込んでるやつ */
iframe.code {
  height: 95vh;
  width: 100vw;
  /*transform: scale(1.1);*/
}

code {
  font-family: 'Fira Mono', monospace;
}