/* background-image を少し暗くしたいときは data-state="dimbg" をつける */
.dimbg .slide-background {
  filter: brightness(0.8);
}

/* iframeで dart-pad を差し込んでるやつ */
iframe.code {
  width: 100%;
  min-height: 600px;
}

code {
  font-family: "Fira Mono", monospace;
}
